@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Sample Patient Portal</h1>

    <a class="nav-link" asp-area="" asp-controller="Patients" asp-action="Index"><h2>Patients List</h2></a>
    
</div>
